[submodule "lib/ts.videoprovider"]
	path = lib/ts.videoprovider
	url = https://github.com/TheSmiths-Widgets/ts.videoprovider
[submodule "lib/ts.httprequest"]
	path = lib/ts.httprequest
	url = https://github.com/TheSmiths-Widgets/ts.httprequest
[submodule "lib/org.favo.promise"]
	path = lib/org.favo.promise
	url = https://github.com/ifavo/org.favo.promise/1.0.0
